body {margin: 0;
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}
    main {
        width: 1000px;
        margin-left: calc((100% - 1000px) / 2);
        
    }
        header { display: inline-block;
            margin-top: 20px;
            width: 100%;
        }

            header > img {display: inline-block;
                float: left;
                margin-left: 30px;
                width: 50px;
                
            }
            nav {display: inline-block;
                float: right;
            }
                a {
                    display: inline-block;
                    float: left;
                    text-decoration: none;
                    line-height: 20px;
                    font-size: 16px;
                    padding: 5px;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-top: 10px;
                    color: #999;
                }
                nav > a:last-of-type{
                    text-transform: uppercase;
                    border: 3px solid rgb(158, 143, 143);
                    margin-top:7px;
                    border-radius: 20px;
                }
                a:hover {
                    text-decoration: underline;
                }
                nav > a:last-of-type:hover {
                    text-decoration: none;
                    background-color: #999;
                    color: #F8F8F8;
                    font-weight: bold;
                }


    section {display: inline-block;
            margin-top: 50px;
            width: 100%;
            }

        div {display: inline-block;
            float: left;
            width: 40%;
            margin-left: 5%;
        }
            h1 {
                display: inline-block;
                font-size: 80px;
                width: 100%;
                margin-bottom: 0;
                }
            p {display: inline-block;
                width: 100%;
                font-size: 30px;
                margin-top: 0;
            }
            section > img {display: inline-block;
                float: left;
                width: 40%;
                margin-left: 10%;
            }
